<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_background.css') }}">
</head>
<body class="background-image">
    <div class="header">
            <div class="nav">
			<button id="home-button" onclick="window.location.href='logout'">Logout</button>
        </div>
        <h2 class="welcome-message">Welcome to your dashboard {{full_name}}.</h2>
		<img src="{{ url_for('static', filename='images/lock.jpg') }}" alt="SmartQuiz Logo" class="logo">
	</div>
    <div class="content">
	<h7>Choose a Quiz!</h7>
        <div class="quiz-options">
            <button class="quiz-btn" onclick="startQuiz('python')">Python</button>
            <button class="quiz-btn" onclick="startQuiz('javascript')">JavaScript</button>
            <button class="quiz-btn" onclick="startQuiz('cpp')">C++</button>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 SmartQuiz. All rights reserved.</p>
    </footer>
	<script> 
		function startQuiz(topic) {
		const urlMap = {
			'python': "{{ url_for('python_quiz') }}",
			'javascript': "{{ url_for('javascript_quiz') }}",
			'cpp': "{{ url_for('cpp_quiz') }}"
		};
		window.location.href = urlMap[topic];
	}
	</script>
</body>
</html>
