<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_background.css') }}">
</head>
<body class="background-image">
	<button id="home-button" onclick="window.location.href='/'">Home</button>
	<section class="create-account-form">
	<h5>Login</h5>
		<form method="POST">
			<input type="text" name="username" placeholder="Username" required>
			<input type="password" name="password" placeholder="Password" required>
			<button type="submit">Login</button>
			<a href="{{ url_for('register') }}">Create Account</a>
		</form>
	</section>
    <footer>
        <p>&copy; 2024 SmartQuiz. All rights reserved.</p>
    </footer>
</body>
</html>
